.searchInputLarge {
  // width: $SEARCH_INPUT_WIDTH !important;
  //-webkit-transition: all ease-in 2s;
  //transition: all ease-in 2s;
  width: 200px !important;
  transition: all 0.8s;
}

.searchInputLarger {
  width: 300px !important;
}
