@import "./app.var.style";

body {
  background-color: #ECECEC;
}

.containersCustom {
  margin-right: auto;
  margin-left: auto;
  padding-left: $CONTAINER_CUSTOM_PADDING_LEFT;
  padding-right: $CONTAINER_CUSTOM_PADDING_RIGHT;
}

.invisible {
  opacity: 0;
}

.view-enter {
   animation: fadeIn 0.5s both ease-in;
   z-index: 9999;
 }

.animatedViews {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.navbar-inverse {
    background-color: $NAV_BAR_INVERSE_BACKGROUND_COLOR;
    border-color: $NAV_BAR_INVERSE_BACKGROUND_COLOR;
}
